[submodule "openevolve"]
	path = openevolve
	url = https://github.com/alansong21/openevolve.git
[submodule "ChampSim"]
	path = ChampSim
	url = https://github.com/CMU-SAFARI/ChampSim.git
[submodule "cloudlab-lib"]
	path = cloudlab-lib
	url = https://github.com/varungohil/cloudlab-lib.git
[submodule "cbp-ng"]
	path = cbp-ng
	url = https://github.com/AmpereComputing/cbp-ng.git
